<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Servlet 2.5 Web Application</display-name>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>pl.edu.pk.laciak.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>User</display-name>
    <servlet-name>User</servlet-name>
    <servlet-class>pl.edu.pk.laciak.functions.User</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/User</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>pl.edu.pk.laciak.hibernate.HibernateListener</listener-class>
  </listener>
  <context-param>
    <param-name>facelets.DEVELOPMENT</param-name>
    <param-value>true</param-value>
  </context-param>
  <context-param>
    <param-name>facelets.REFRESH_PERIOD</param-name>
    <param-value>1</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>FileUpload</display-name>
    <servlet-name>FileUpload</servlet-name>
    <servlet-class>pl.edu.pk.laciak.functions.FileUpload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUpload</servlet-name>
    <url-pattern>/FileUpload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>pl.edu.pk.laciak.functions.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Teacher</display-name>
    <servlet-name>Teacher</servlet-name>
    <servlet-class>pl.edu.pk.laciak.functions.Teacher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Teacher</servlet-name>
    <url-pattern>/Teacher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>displayPhoto</display-name>
    <servlet-name>displayPhoto</servlet-name>
    <servlet-class>pl.edu.pk.laciak.helpers.displayPhoto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>displayPhoto</servlet-name>
    <url-pattern>/displayPhoto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Student</display-name>
    <servlet-name>Student</servlet-name>
    <servlet-class>pl.edu.pk.laciak.functions.Student</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student</servlet-name>
    <url-pattern>/Student</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewFileServlet</display-name>
    <servlet-name>NewFileServlet</servlet-name>
    <servlet-class>pl.edu.pk.laciak.functions.NewFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewFileServlet</servlet-name>
    <url-pattern>/NewFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadFile</display-name>
    <servlet-name>DownloadFile</servlet-name>
    <servlet-class>pl.edu.pk.laciak.functions.DownloadFile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFile</servlet-name>
    <url-pattern>/DownloadFile</url-pattern>
  </servlet-mapping>
</web-app>